<div class="card text-center">
  <div class="card-header">
    <h4>Send Message To User</h4>
  </div>
  <div class="card-body">
    <div class="text-left">
      <button type="button" class="btn btn-success text-left" (click)="getMessageDetails()">Get Message Details</button>
    </div><br>
    <table class="table table-bordered" *ngIf="isTableShow">
      <thead>
        <tr>
          <th scope="col">Message Text</th>
          <th scope="col">Image Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of messageDetails; let i = index" (click)="useDetails(i)">
          <td>{{ item.message }}</td>
          <td>{{ item.image }}</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-6">
        <form [formGroup]="frameMessageForm">
          <div class="row">
            <label class="col-4 col-form-label">Frame Message</label>
            <div class="form-group col-8">
              <input type="text" class="form-control" placeholder="Enter Message" formControlName="frameMessage" [(ngModel)]="messageText"><br>
              <input type="text" class="form-control" placeholder="Enter Code" formControlName="frameCode" [(ngModel)]="codeText">            </div>
          </div>
          <div class="row" *ngIf="messageDisabled">
            <div class="col-4 form-label">
              <label>Preview Message</label>
            </div>
            <div class="col-8">
              <p>Your {{messageText}}; code is {{codeText}}</p>
            </div>
          </div>
          <div class="form-group" *ngIf="messageDisabled">
            <button type="button" class="btn btn-primary" [disabled]="frameMessageForm.invalid"
              (click)="sendMessage()">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-6">
        <h6 class="text-center">Upload Image</h6>
        <form [formGroup]="uploadImageForm">
          <div class="text-center">
            <img [src]="imgSrc" width="250px" height="150px" (click)="fileUplaoder.click()">
          </div>
          <div class="row">
            <label class="col-3 col-form-label">Select file to upload</label>
            <div class="form-group col-6">
              <input type="file" class="form-control" (change)="showPreview($event)" formControlName="imageUrl"
                #fileUplaoder>
            </div>
            <div class="form-group col-3">
              <button type="button" class="btn btn-success float-right" (click)="onSubmit()">Upload</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
