.card {
  margin-top: 50px;
  border: none;
}
.next {
  margin-right: 20px;
}
.table {
  margin-left: 150px;
  max-width: 70%;
}
.pagination {
  display: block !important;
}
::ng-deep .md-drppicker {
  width: 175% !important;
}
