.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 39%;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
form {
  margin: 25px 25px;
}
.form-group {
  margin-bottom: 30px;
}
.header-class {
  padding: 34px 19px 10px;
}
